
        body{
            text-align: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        h1{
            border: 5px solid black;
            width: 30%;
            height: 50px;
            margin: 30px auto;
        }
        ul{
            border : 1px dashed red;
            list-style: none;
            width: 50%;
            margin: 10px auto;
        }
        li{
            display: inline;
            margin: 0px 10px;
        }
        img{
            margin-top: 30px ;
            width: 50%;
            height: 30%;
        }
        .now{
            font-weight: 700;
        }
        
